<include file="./header" />
<div class="layout">
	<div class="layout-left">
		<h2>技术分享</h2>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3><a href="article.html">禹译网开心每一天</a></h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p><a href="article.html">前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。</a></p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="article.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3>禹译网开心每一天</h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="index.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3>禹译网开心每一天</h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="index.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3>禹译网开心每一天</h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="index.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3>禹译网开心每一天</h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="index.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="article">
			<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
			<div class="article-content">
				<h3>禹译网开心每一天</h3>
				<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
				<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
				<p class="use">
					<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
					<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
					<a href="index.html" class="readall">阅读全文</a>
				</p>
			</div>
		</div>
		<div class="page">
			<a href="">首页</a>
			<a href="">上一页</a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">...</a>
			<a href="">10</a>
			<a href="">下一页</a>
			<a href="">末页</a>
		</div>
	</div>
	<div class="layout-right">
		<h2>禹译公告</h2>
		<div class="hotart">
			<if condition="$notices">
			<foreach name="notices" item="notice" key="index" >
				<p><span
				<if condition="0==$index">  class="red"
				<elseif condition="1 == $index"/> class="orange"
				<else /> class="pink"
				</if>><{$index + 1}></span><a href="index.html"><{$notice['title']}></a></p>
			</foreach>
			<else/>
				<p>暂无公告!</p>
			</if>
		</div>
		<h2 class="clear">站内搜索</h2>
		<div class="search">
			<form action="search.html" method="post">
				<input type="text"/><button></button>
			</form>
		</div>
		<h2 class="clear">标签云</h2>
		<div class="tag">
			<ul>
				<foreach name="tags" item="tag" key="index" >
					<li><a href="" class="<{$tag_styles[$index]}>"><{$tag['name']}></a></li>
				</foreach>
			</ul>
		</div>
		<h2 class="clear">热门推荐</h2>
		<div class="hotart">
			<p><span class="red">1</span><a href="index.html">如何建立个人博客?</a></p>
			<p><span class="orange">2</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="pink">3</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">4</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">5</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">6</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">7</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">8</span><a href="index.html">浅谈：html5和html的区别</a></p>
			<p><span class="gray">9</span><a href="index.html">浅谈：html5和html的区别</a></p>
		</div>
		<h2 class="clear">关注我</h2>
		<div class="me">
			<p><span>邮箱订阅:</span><a href="">点我订阅</a></p>
			<p><span>加入群聊:</span><a href="">立即加入</a></p>
			<p id="platform-power" style="cursor: pointer;"><span>微信关注:</span>yuyinet(点击查看)</p>
			<p class="platform" id="platform"><img src="<{$__IMG__}>/platform.jpg"/></p>
		</div>
		<h2 class="clear">友情链接</h2>
		<div class="tag">
			<ul>
				<li><a href="" class="pink" target="_blank">禹译建站</a></li>
				<li><a href="" class="blue1" target="_blank">禹译考试网</a></li>
				<li><a href="" class="orange" target="_blank">禹译微博</a></li>
				<li><a href="" class="pink" target="_blank">禹译电影网</a></li>
				<li><a href="" class="orange" target="_blank">禹译微博</a></li>
				<li><a href="" class="blue1" target="_blank">禹译音乐网</a></li>
			</ul>
		</div>
	</div>
</div>
<include file="./footer" />