<include file="./header" />
<div class="layout">
	<div class="layout-left">
		<h2>最新文章</h2>
		<if condition="$articles">
			<foreach name="articles" item="article" key="index" >
				<div class="article">
					<div class="article-img"><if condition="$article['cover']"><img src="<{$article['cover']}>" /><else/><img src="<{$__IMG__}>/article.jpg"/></if></div>
					<div class="article-content">
						<h3><a href="/article/detail/id/<{$article['id']}>"><{$article['title']}></a></h3>
						<p><img src="<{$__IMG__}>/my-min.jpg" /><i><{$article['author']}></i><span>发布时间: <{$article['createtime']}></span><span>归属: <{$article['category']}></span></p>
						<p><a href="/article/detail/id/<{$article['id']}>"><{$article['content']}></a></p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b><{$article['visitcount']}></b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b><{$article['commentcount']}></b>)</span>
							<a href="/article/detail/id/<{$article['id']}>" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
			</foreach>
		<else/>
			<div class="article">
				<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
				<div class="article-content">
					<h3><a href="article.html">禹译公告</a></h3>
					<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: <{$date}></span><span>归属: 禹译网</span></p>
					<p>杭州禹译网(禹译网络)分享技术文章,引领IT新时代,活到老学到老了,生活百般滋味,人生需要笑对</p>
				</div>
			</div>
		</if>
		<div class="page" id="article-box">
			<a href="javascript:void(0);" class="load_more" onclick="load_more_article()">加载更多</a>
		</div>
	</div>
	<div class="layout-right">
		<h2>禹译公告</h2>
		<div class="hotart">
			<if condition="$notices">
			<foreach name="notices" item="notice" key="index" >
				<p><span
				<if condition="0==$index">  class="red"
				<elseif condition="1 == $index"/> class="orange"
				<else /> class="pink"
				</if>><{$index + 1}></span><a href="index.html"><{$notice['title']}></a></p>
			</foreach>
			<else/>
				<p>暂无公告!</p>
			</if>
		</div>
		<h2 class="clear">站内搜索</h2>
		<div class="search">
			<form action="search.html" method="post">
				<input type="text"/><button onclick="alert('该功能正在开发中!');return false;"></button>
			</form>
		</div>
		<h2 class="clear">标签云</h2>
		<div class="tag">
			<ul>
				<if condition="$tags">
				<foreach name="tags" item="tag" key="index" >
					<li><a href="" class="<{$tag_styles[$index-1]}>"><{$tag['name']}></a></li>
				</foreach>
				<else/>
					<li style="color: black;">暂无标签!</li>
				</if>
			</ul>
		</div>
		<h2 class="clear">热门推荐</h2>
		<div class="hotart">
			<if condition="$hots">
				<foreach name="hots" item="hot" key="index" >
					<p><span class="<{$hot_styles[$index]}>"><{$index+1}></span><a href="/article/detail/id/<{$hot['id']}>"><{$hot['title']}></a></p>
				</foreach>
			<else/>
				<p>暂无热门推荐!</p>
			</if>
		</div>
		<h2 class="clear">关注我</h2>
		<div class="me">
			<p><span>邮箱订阅:</span><a href="javascript:void(0);" onclick="alert('该功能正在开发中!');">点我订阅</a></p>
			<p><span>加入群聊:</span><a href="javascript:void(0);" onclick="alert('该功能正在开发中!');">立即加入</a></p>
			<p id="platform-power" style="cursor: pointer;"><span>微信关注:</span>yuyinet(点击查看)</p>
			<p class="platform" id="platform"><img src="<{$__IMG__}>/platform.jpg"/></p>
		</div>
		<h2 class="clear">友情链接</h2>
		<div class="tag">
			<ul>
				<if condition="$links">
					<foreach name="links" item="link" key="index" >
						<li><a href="<{$link['url']}>" class="<{$tag_styles[$index-1]}>" target="_blank"><{$link['name']}></a></li>
					</foreach>
				<else/>
					<li style="color: black;">暂无友情链接!</li>
				</if>
			</ul>
		</div>
	</div>
</div>
<include file="./footer" />
<script>
	// 初始第一页
	var init_page = 1;

	// 是否重复加载文章
	var is_repeat_load = 0;

	// 加载更多网站文章
	function load_more_article()
	{
		if(is_repeat_load){
			return;
		}

		is_repeat_load = 1;

		init_page = init_page + 1;

		$.ajax({
			url:"/article/load_more",
			data:{
				page: init_page
			},
			type:'post',
			cache:false,
			dataType:'text',
			async: false,
			success:function(result){
				if(result){
					$('#article-box').before(result);

					is_repeat_load = 0;
				}else{
					$('.load_more').addClass('no_load_more');
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
			},
		});
	}
</script>
</body>
</html>