<include file="./header" />
<div class="location">
    <div>
        <img src="<{$__IMG__}>/location.png"/>
        <a href="/">首页</a>
        <if condition="$current_menu">
            <span>></span>
            <a href="<{$current_menu['url']}>/m/<{$current_menu['id']}>"><{$current_menu['name']}></a>
        </if>
    </div>
</div>
<div class="space"></div>
<div class="layout">
    <div class="line">
        <if condition="$articles">
            <volist name="articles" id="article">
                <div class="note">
                    <span class="line-date"><{$article['createtime']}></span>
                    <p><{$article['content']}></p>
                    <ul>
                        <volist name="article['tags']" id="tag">
                            <li class="<{$tag_styles[rand(0, 7)]}>"><{$tag}></li>
                        </volist>
                    </ul>
                </div>
            </volist>
            <div class="page" id="article-box">
                <a href="javascript:void(0);" class="load_more" onclick="load_more_note()">加载更多</a>
            </div>
        <else/>
        <div class="note">
            <span class="line-date"><{$current_date}></span>
            <p>在这世界上，不管你做得在怎么好，总会有那么50%的人，不会认同你的做法。只有无视他们的存在，才会走得更远。</p>
            <ul>
                <li class="orange">空白</li>
                <li class="gray">话题</li>
            </ul>
        </div>
        </if>
        <input type="hidden" id="menu_id" value="<{$menu_id}>" />
    </div>
</div>
<include file="./footer" />
<script>
    // 初始第一页
    var init_page = 1;

    // 是否重复加载我的日记
    var is_repeat_load = 0;

    // 加载更多我的日记
    function load_more_note()
    {
        if(is_repeat_load){
            return;
        }

        is_repeat_load = 1;

        init_page = init_page + 1;

        $.ajax({
            url:"/article/load_more_note",
            data:{
                page: init_page,
                menu_id: $('#menu_id').val()
            },
            type:'post',
            cache:false,
            dataType:'text',
            async: false,
            success:function(result){
                if(result){
                    $('#article-box').before(result);

                    is_repeat_load = 0;
                }else{
                    $('.load_more').addClass('no_load_more');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            },
        });
    }
</script>
</body>
</html>