<include file="./header" />
		<div class="location">
			<div>
				<img src="<{$__IMG__}>/location.png"/>
				<a href="tech.html">首页</a>
				<span>></span>
				<a href="tech.html">技术分享</a>
			</div>
		</div>
		<div class="category">
			<div>
				<ul id="category_top">
					<li><span>方向 :</span></li>
					<li><b class="categorycolor" onclick="change_category(this,'<{$direction[\'id\']}>')">全部</b></li>
					<if condition="$directions">
						<foreach name="directions" item="direction" key="index" >
							<li><b onclick="change_category(this,'<{$direction[\'id\']}>')"><{$direction['name']}></b></li>
						</foreach>
					</if>
				</ul>
				<ul id="category_one">
					<li><span>分类 :</span></li>
					<li><b class="categorycolor">全部</b></li>
					<if condition="$categorys">
						<foreach name="categorys" item="category" key="index" >
							<li><a href=""><{$category['name']}></a></li>
						</foreach>
					</if>
				</ul>
			</div>
		</div>
		<div class="layout">
			<div class="layout-left">
				<h2>技术分享</h2>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3><a href="">禹译网开心每一天</a></h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p><a href="">前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。</a></p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3>禹译网开心每一天</h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3>禹译网开心每一天</h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3>禹译网开心每一天</h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3>禹译网开心每一天</h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="article">
					<div class="article-img"><img src="<{$__IMG__}>/article.jpg"/></div>
					<div class="article-content">
						<h3>禹译网开心每一天</h3>
						<p><img src="<{$__IMG__}>/my-min.jpg"><i>公子禹</i><span>发布时间: 2016-08-15 22:45</span><span>归属: PHP</span></p>
						<p>前言: 今天,终于能如愿以偿的把博客进行更新改版啦!之前一直有想法把博客进行重新构建,由于种种原因,就一直拖延着。 </p>
						<p class="use">
							<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b>0</b>)</span>
							<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b>0</b>)</span>
							<a href="tech.html" class="readall">阅读全文</a>
						</p>
					</div>
				</div>
				<div class="page" id="article-box">
					<a href="javascript:void(0);" class="load_more" onclick="load_more_article()">加载更多</a>
				</div>
			</div>
			<div class="layout-right">
				<h2 class="clear">我的作品</h2>
				<div class="hotart">
					<p><span class="red">1</span><a href="tech.html">禹译高性能框架</a></p>
					<p><span class="orange">2</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="pink">3</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">4</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">5</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">6</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">7</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">8</span><a href="tech.html">浅谈：html5和html的区别</a></p>
					<p><span class="gray">9</span><a href="tech.html">浅谈：html5和html的区别</a></p>
				</div>
				<h2 class="clear">关注我</h2>
				<div class="me">
					<p><span>邮箱订阅:</span><a href="">点我订阅</a></p>
					<p><span>加入群聊:</span><a href="">立即加入</a></p>
					<p><span>微信关注:</span>yuyinet(扫码关注)</p>
					<p><img src="<{$__IMG__}>/platform.jpg"/></p>
				</div>
				<h2 class="clear">友情链接</h2>
				<div class="tag">
					<ul>
						<li><a href="" class="pink">禹译建站</a></li>
						<li><a href="" class="blue1">禹译考试网</a></li>
						<li><a href="" class="orange">禹译微博</a></li>
						<li><a href="" class="pink">禹译电影网</a></li>
						<li><a href="" class="orange">禹译微博</a></li>
						<li><a href="" class="blue1">禹译音乐网</a></li>
					</ul>
				</div>
			</div>
		</div>
<include file="./footer" />
<script>
	function change_category(obj,category_id)
	{
		$(obj).addClass('categorycolor');

		// 分类 ID
		category_id = category_id ? parseInt(category_id) : 0;

		// 获取分类下的子分类
		$.ajax({
			url:"/category/get_son_category",
			data:{
				parent_id: category_id
			},
			type:'post',
			cache:false,
			dataType:'text',
			async: false,
			success:function(result){
				alert(result);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
			},
		});
	}
</script>
	</body>
</html>