<include file="./header" />
		<div class="location">
			<div>
				<img src="<{$__IMG__}>/location.png"/>
				<a href="/">首页</a>
				<if condition="$current_menu">
					<span>></span>
					<a href="<{$current_menu['url']}>/m/<{$current_menu['id']}>"><{$current_menu['name']}></a>
				</if>
			</div>
		</div>
		<div class="category">
			<div>
				<ul id="category_top">
					<li><span>方向 :</span></li>
					<li><b <if condition="0 == $parent_id">class="categorycolor"</if> onclick="change_category(this,'<{$direction[\'id\']}>')">全部</b></li>
					<if condition="$directions">
						<foreach name="directions" item="direction" key="index" >
							<li><b <if condition="$direction['id'] == $parent_id">class="categorycolor"</if> onclick="change_category(this,'<{$direction[\'id\']}>')"><{$direction['name']}></b></li>
						</foreach>
					</if>
				</ul>
				<ul id="category_one">
					<li><span>分类 :</span></li>
					<li><a <if condition="0 == $son_id">class="categorycolor"</if> href="/tech/article/m/<{$menu_id}>/pid/<{$parent_id}>/cid/0">全部</a></li>
					<if condition="$categorys">
						<foreach name="categorys" item="category" key="index" >
							<li><a <if condition="$category['id'] == $son_id">class="categorycolor"</if> href="/tech/article/m/<{$menu_id}>/pid/<{$parent_id}>/cid/<{$category['id']}>"><{$category['name']}></a></li>
						</foreach>
					</if>
				</ul>
				<input type="hidden" id="menu_id" value="<{$menu_id}>" />
				<input type="hidden" id="parent_id" value="<{$parent_id}>" />
				<input type="hidden" id="son_id" value="<{$son_id}>" />
			</div>
		</div>
		<div class="layout">
			<div class="layout-left">
				<h2>技术分享</h2>
				<if condition="$articles">
					<foreach name="articles" item="article" key="index" >
						<div class="article">
							<div class="article-img"><if condition="$article['cover']"><img src="<{$article['cover']}>" /><else/><img src="<{$__IMG__}>/article.jpg"/></if></div>
							<div class="article-content">
								<h3><a href="/article/detail/m/<{$menu_id}>/id/<{$article['id']}>"><{$article['title']}></a></h3>
								<p><img src="<{$__IMG__}>/my-min.jpg" /><i><{$article['author']}></i><span>发布时间: <{$article['createtime']}></span><span>归属: <{$article['category']}></span></p>
								<p><a href="/article/detail/m/<{$menu_id}>/id/<{$article['id']}>"><{$article['content']}></a></p>
								<p class="use">
									<img src="<{$__IMG__}>/reviewbg.png"/><span>评论(<b><{$article['commentcount']}></b>)</span>
									<img src="<{$__IMG__}>/browsebg.png"/><span>浏览(<b><{$article['visitcount']}></b>)</span>
									<a href="/article/detail/m/<{$menu_id}>/id/<{$article['id']}>" class="readall">阅读全文</a>
								</p>
							</div>
						</div>
					</foreach>
					<div class="page" id="article-box">
						<a href="javascript:void(0);" class="load_more" onclick="load_more_article()">加载更多</a>
					</div>
				<else/>
					<div class="article" style="height: auto;">
						<p class="no-data"><img src="<{$__IMG__}>/no-article.png"></p>
					</div>
				</if>
			</div>
			<div class="layout-right">
				<h2 class="clear">我的作品</h2>
				<div class="hotart">
					<if condition="$works">
						<foreach name="works" item="work" key="index" >
							<p><span class="<{$hot_styles[$index]}>"><{$index+1}></span><a href="/article/detail/m/<{$menu_id}>/id/<{$work['id']}>"><{$work['title']}></a></p>
						</foreach>
						<else/>
						<p class="no-data"><img src="<{$__IMG__}>/no-data.png"></p>
					</if>
				</div>
				<h2 class="clear">关注我</h2>
				<div class="me">
					<p><span>邮箱订阅:</span><a href="">点我订阅</a></p>
					<p><span>加入群聊:</span><a href="">立即加入</a></p>
					<p><span>微信关注:</span>yuyinet(扫码关注)</p>
					<p><img src="<{$__IMG__}>/platform.jpg"/></p>
				</div>
				<h2 class="clear">友情链接</h2>
				<div class="tag">
					<ul>
						<if condition="$links">
							<foreach name="links" item="link" key="index" >
								<li><a href="<{$link['url']}>" class="<{$tag_styles[$index-1]}>" target="_blank"><{$link['name']}></a></li>
							</foreach>
							<else/>
							<li class="no-data"><img src="<{$__IMG__}>/no-data.png"></li>
						</if>
					</ul>
				</div>
			</div>
		</div>
<include file="./footer" />
<script>
	// 初始第一页
	var init_page = 1;

	// 是否重复加载文章
	var is_repeat_load = 0;

	// 加载更多网站文章
	function load_more_article()
	{
		if(is_repeat_load){
			return;
		}

		is_repeat_load = 1;

		init_page = init_page + 1;

		$.ajax({
			url:"/article/load_more",
			data:{
				page: init_page,
				menu_id: $('#menu_id').val(),
				parent_id: $('#parent_id').val(),
				son_id: $('#son_id').val(),
				category_type: 0
			},
			type:'post',
			cache:false,
			dataType:'text',
			async: false,
			success:function(result){
				if(result){
					$('#article-box').before(result);

					is_repeat_load = 0;
				}else{
					$('.load_more').addClass('no_load_more');
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
			},
		});
	}

	// 获取子分类信息
	function change_category(obj,category_id)
	{
		$('#category_top li b').removeClass('categorycolor');

		$(obj).addClass('categorycolor');

		// 分类 ID
		category_id = category_id ? parseInt(category_id) : 0;

		// 获取分类下的子分类
		$.ajax({
			url:"/category/get_son_category",
			data:{
				parent_id: category_id,
				menu_id: $('#menu_id').val()
			},
			type:'post',
			cache:false,
			dataType:'text',
			async: false,
			success:function(result){
				$('#category_one').html(result);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
			},
		});
	}
</script>
	</body>
</html>