<div class="footer">
    <div>
        <p>©禹译网版权所有,违版必究  All Rights Reserved</p>
        <p>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602007245"><img src="<{$__IMG__}>/beian.png" style="vertical-align: middle;">&nbsp;&nbsp;浙公网安备 33010602007245号</a>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备16031411号</a>
        </p>
    </div>
</div>
<script type="text/javascript" src="<{$__JS__}>/site.js"></script>
</body>
</html>