<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>禹译网</title>
    <meta content="禹译网络,禹译网,禹译人生,IT技术,杭州IT,知识分享" name="keywords">
    <meta content="杭州禹译网(禹译网络)分享技术文章,引领IT新时代,活到老学到老了,生活百般滋味,人生需要笑对" name="description">
    <link rel="stylesheet" href="<{$__CSS__}>/style.css"/>
</head>
<body>
<div class="nav-bg">
    <div>
        <p><img src="<{$__IMG__}>/logo.png"/></p>
        <h1>生活百般滋味,人生需要笑对</h1>
        <ul>
            <li><a href="/" menuid="0" <if condition="'/' == $__URI__">class="bluecolor"</if> >首页</a></li>
            <foreach name="__MENU__" item="menu" key="index" >
                <li><a href="<{$menu['url']}>" menuid="<{$menu['id']}>" <if condition="$menu['url'] == $__URI__">class="bluecolor"</if>><{$menu['name']}></a>
                    <if condition="0 == $index">
                        <img src="<{$__IMG__}>/hot.gif" class="hot"/>
                    </if>
                </li>
            </foreach>
            <li>
                <select name="">
                    <option value="">归档</option>
                    <option value="201601">2016上半年</option>
                </select>
            </li>
        </ul>
        <p class="clear"></p>
    </div>
</div>